bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
Atomizer.sln.DotSettings.user
example.db*
.omc/
.claude/
.planning/
.sisyphus/
src/Atomizer.Dashboard/frontend/node_modules/
src/Atomizer.Dashboard/frontend/dist/